.side-navbar {
  width: 200px;
  height: 100vh; /* Takes up the full height of the viewport */
  background-color: black;
  color: #fff; /* White text color */
  position: fixed; /* Fixed position so it stays in place when scrolling */
  top: 0;
  left: 0;
}

ul {
  list-style-type: none; /* Removes default bullet points for list items */
  padding: 0; /* Removes default padding */
}

ul li:hover {
  background-color: #555; /* Darken background color on hover */
}

.nav-item {
  padding: 30px; /* Adds padding around each navigation item */
}
